@CHARSET "UTF-8";
/*全局文字颜色*/
.text-color-999, .icb-placeholder, .category dl dd span, .icb-search-dropdown-list li > span, .icb-search-dropdown-list li.question a span, .icb-side-bar dd, .icb-question-comment-box .icb-mod-head .icb-notopic-sort, .icb-question-edit .icb-mod-body .pull-right, .icb-common-list .icb-question-replay-count, .icb-question-tags a, .icb-feed-list .icb-upload-file-list a, .icb-agree-by .icb-agree-by-show, .icb-agree-by .icb-user-name, .icb-my-notifications .icb-mod-head h2 span, .icb-my-notifications .icb-mod-body ul li.active span, .icb-publish-title-dropdown p span, .icb-side-bar-mod-publish .icb-side-bar-mod-body p, .icb-side-bar-mod-topic-edit .icb-side-bar-mod-body p, .icb-new-message-tips .icb-mod-head .pull-right, .icb-new-message-tips-close span, .icb-mod-search-result .icb-search-result-tags, .icb-publish-box .icb-publish-box-supplement, .icb-first-login .icb-mod-head ul li.active em, .icb-first-login .icb-complete-data .icb-complete-data-img span{color:#999;}
.icb-text-color-666, .icb-dropdown-menu ul a, .alert, .icb-nav-tabs > li.active a, .icb-user-nav-dropdown .icb-dropdown-menu  li > a, .icb-search-dropdown-list li a, .icb-search-dropdown-list li.question a span.active, .icb-comment-list, .icb-question-edit .icb-mod-body, .icb-question-tags a:hover, .icb-topic-content .icb-topic-title, .icb-edit-topic:hover, .icb-mod-invite-friend .icb-invite-box p, .icb-tabs ul li a, .icb-footer, .icb-card-tips, .icb-mod-replay-box .icb-mod-head p label, .markItUpPreviewFrame, .icb-404-wrap p, .icb-ie6 .pull-right p{color:#666;}
.icb-common-list .icb-question-replay-count em, .markItUpPreviewFrame .title, h1, h2, h3{color: #333;}
.icb-message-tooltip, .icb-top-menu-wrap .icb-pulish a, .icb-nav-main li a,.icb-side-bar-mod-nav ul li a:hover, .icb-side-bar-mod-nav ul li a.active, .icb-common-list .icb-question-replay-count.active, .icb-first-login .icb-mod-head ul li em, .markItUpHeader ul ul a:hover{color:#fff;}
.icb-get-more.warmming{color:#999;}
.icb-text-color-red{color:red;}
.icb-placeholder{color: #999 !important;}
.icb-winner-replay{color:#1A9F00;}
.icb-dropdown-menu ul a:hover{color: #3887d2;}
.alert-danger, .alert-error{color:#B94A48;}
.icb-nav-tabs > li > a{color: #666;}
.icb-logo span{color: #CFF1FF;}
.category .title a{color: #17344A;}
.icb-nav-main li a:hover{color:#93E2F3;}
.icb-search-dropdown-list li a:hover{color: #005580;}
.icb-agree-by .icb-user-name{color: #999 !important;}
.icb-ie6 .pull-right h1 span{color: #c20200;}
/* 翻页 */
.page-control{text-align: center;}
.pagination{margin:20px 0 0;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{background-color: #499ef3;color: #fff;border-color: #499ef3;}
.pagination > li > a, .pagination > li > span{background-color: #fafafa;color: #999;border-color: #e6e6e6;}
/* 字体icon & icon */
.icon-tips{display:block;width: 6px;height: 6px;border-radius: 6px;background-color: #ff5428;}
.icon-inverse{display:inline-block;height: 20px;padding:0 5px;line-height:20px;background-color: #ccc;color: #fff;text-align: center;border-radius: 4px;font-size: 12px;}
.icon-inverse i{top:0 !important;margin:0;color: #fff;font-size: 12px !important;}
.icon-inverse.follow{background-color: #f5f5f5;color: #b3b3b3;}
.icon-inverse.follow:hover{color: #499ef3;}
.icon-inverse.follow.active:before{content: "\e636";color: #58b957;}
.icon-wechat, .icon-phone, .icon-reply, .icon-prestige, .icon-score, .icon-agree, .icon-comment, .icon-share, .icon-edit, .icon-invite, .icon-report, .icon-fold, .icon-best, .icon-favor, .icon-thank, .icon-cog, .icon-off, .icon-down, .icon-mobile-phone, .icon-envelope, .icon-check, .icon-attach{margin-right: 2px;color: #999;font-size: 16px;}
.icon-v{color: #ffca3f;font-size: 12px;}
.icon-v.i-ve{color: #ffca3f;}
.icon-down.active:before{content:"\e634";}
.icon-add-alt{font-size: 18px;margin-right: 10px;}
.i-private-replay-triangle{width: 8px;height: 10px;background: url('img/icon-angle-right.png') no-repeat;}
.icb-table th{background-color: #fafafa !important;border-bottom: none !important;}

/* 新编辑器 */
.cke_inner {border: 1px solid #e6e6e6 !important;border-radius: 4px;}
.cke_editable a{color: #666 !important;}
.cke_chrome{padding:0 !important;}
.cke_top{position: relative !important;}
.cke_chrome, .cke_toolgroup{background: none !important;border:none !important;}
.cke_contents{border:none !important;border-radius: 0px;}
.cke_top{padding-top:0 !important;background-color:#f5f5f5 !important;border-bottom: 1px solid #e6e6e6 !important;}
a.cke_button{padding:8px 10px !important;cursor: pointer !important;border-radius: 0px !important;}
.cke_button_on, a.cke_button_disabled:active, a.cke_button_disabled:focus, a.cke_button_disabled:hover, a.cke_button_off:active, a.cke_button_off:focus, a.cke_button_off:hover{background-color: #ebebeb !important;}
.cke_toolgroup{margin:0 !important;padding:0 !important;}
.cke_editor_editor_reply_dialog{position: relative;z-index: 9999;}
.cke_combo__fontsize{margin:3px 5px 0 5px !important;}
.cke_combo__fontsize a{margin: 0 !important;}
.cke_combo__fontsize .cke_combo_text {width: 40px !important;}
.cke_combopanel{height: 78px !important;}
.cke_button_icon{margin:3px !important;font-family: 'icomoon' !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;font-size: 16px !important;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.cke_button__undo_icon:before {content: "\e965";}
.cke_button__redo_icon:before {content: "\e966";}
.cke_button__bold_icon:before {content: "\e63a";}
.cke_button__italic_icon:before {content: "\e63b";}
.cke_button__strike_icon:before {content: "\e65e";}
.cke_button__underline_icon:before {content: "\e63c";}
.cke_button__numberedlist_icon:before {content: "\e63e";}
.cke_button__bulletedlist_icon:before {content: "\e63d";}
/*.cke_button__blockquote_icon:before {content: "\e641";}*/
.cke_button__pbckcode_icon:before {content: "\e642";}
.cke_button__icodebangimage_icon:before {content: "\e63f";}
.cke_button__icodebangimage_icon{margin-top: 4px\0 !important;}
.cke_button__icodebanglink_icon:before {content: "\e61f";}
.cke_button__icodebangaudio_icon:before {content: "\e640";}
.cke_button__wecentervideo_icon:before {content: "\e913";}
.cke_button__wecenterattach_icon:before {content: "\e631";}
.cke_button__icodebangattach_icon:before {content: "\e631";}
.cke_button__wecenterattach_icon{margin-top: 2px !important;}
.cke_button__source_icon:before {content: "\e609";}
.cke_button__maximize{position: absolute !important;right: 0;top: 0;}
.cke_button__maximize_icon:before {content: "\e65d";}
.cke_button__removeformat_icon:before {content: "\e65f";}

/* 编辑器下方的附件列表 */
#__UploadFileForm__{position: relative;width: 0;height: 0;opacity: 0;filter:alpha(opacity=0);}
#__UploadFileForm__ .file-input{position:absolute;top:-7px;left:-12px;width: 80px;height: 34px;filter:alpha(opacity=0);cursor: pointer;}
.icb-upload-wrap #__UploadFileForm__ .file-input{position:absolute;top:-7px;left:-12px;width: 80px;height: 34px;filter:alpha(opacity=0);}
.icb-upload-wrap .upload-list{width:100%;height: auto;overflow: hidden;}
.icb-upload-wrap .upload-list li{position:relative;float: left;width: 188px;height: 100px;padding:10px 10px 10px 100px;margin:10px 10px 0 0;background: #f5faff;border:1px solid #dcedfa;border-radius: 5px;}
.icb-upload-wrap .upload-list li .img{position:absolute;left:10px;top:10px;width: 80px;height: 80px;background: url('img/ajax-loader.gif') center center no-repeat;text-align: center;line-height: 80px;border-radius: 5px;}
.icb-upload-wrap .upload-list li .img.error, .icb-upload-wrap .upload-list li .img.file{background: none;}
.icb-upload-wrap .upload-list li .img .icon{background:none;font-size: 66px;vertical-align: middle;color: #aac6e1;width:66px;}
.icb-upload-wrap .upload-list li .img .icon-delete{font-size: 24px;color: #ff6464;vertical-align: middle;}
.icb-upload-wrap .upload-list li .content p{margin:0;line-height: 16px;}
.icb-upload-wrap .upload-list li .title{height: 34px;overflow:hidden;word-wrap:break-word;font-size:12px;color: #666;}
.icb-upload-wrap .upload-list li .size{margin-bottom:10px !important;font-size: 12px;color: #999;}
.icb-upload-wrap .upload-list li .meta a{margin-right:5px;font-size: 13px;}
.icb-upload-wrap .upload-list li.error{border-color: #ff6464;}
.icb-upload-wrap .upload-list li.error .size{color: #ff6464;}

/* 编辑器下方的绑定话题搜索 */
.icb-edit-topic, .icb-edit-tag{float:left;display:inline-block;font-size: 12px;cursor: pointer;}
.icb-search-tag-box{display:none;position:relative;}
.icb-search-tag-box input, .icb-search-tag-box > a{margin:0 10px 10px 0;}
.icb-search-tag-box input{width: 50% !important;}
.icb-search-tag-box .btn-large{min-width: 0px;}
.icb-search-tag-box p{padding:0 10px;}
.icb-article-tag-box .article-tag{float: left;margin:3px 10px 0 0;}

/* 下拉列表 */
.mod-body .dropdown.open .icb-dropdown{display: block;}
.mod-body .dropdown .dropdown-toggle{height:34px;line-height:34px;border: 1px solid #ccc;cursor: pointer;border-radius: 4px;}
.mod-body .dropdown .dropdown-toggle span{display: inline-block;float: left;width: 100%;height:32px;padding-left: 10px;color: #777;line-height: 32px;}
.mod-body .dropdown .dropdown-toggle a{display:inline-block;width:32px;height:32px;text-align: center;position:absolute;top:1px;right:1px;}
.mod-body .dropdown .icon{margin:0;color: #ccc !important;font-size: 16px !important;width:32px !important; height:32px !important;line-height:32px !important;background-color:#fff !important;}
.icb-dropdown-list .sub-level{text-indent:12px;}

/* 添加音频图标 */
.icon-audio:before {
  content: "\e640";
}
