/* 左侧菜单 */
.icb-side .mod-logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
.icb-side .mod-logo h1 {
    padding-left: 15px;
    color: #bbc9cd;
    font-size: 18px;
    line-height: 45px;
    font-weight: 400;
}
.icb-side ul li ul li a {
    text-indent: 15px;
}

/* 主页面内容，列表 */
.icb-content-wrap .mod-body.padding5px, .icb-content-wrap .mod-content {
    padding: 20px 0px;
}
.table-striped > tbody > tr:hover > td {
    background-color: #ddecf7;
}
.mod-body .icb-book-infos .row label {
    width:100%;
    text-align: right;
}
.mod-body .icb-book-infos .row {
    margin-top:15px;
}
.icb-content-wrap .icon.icon-delete {
    background: #d9534f;
}

.px10, .px10 *{
    font-size: 10px !important;
}
.no-padding, .no-padding *{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-margin, .no-margin *{
    margin-left:0 !important;
    margin-right: 0 !important;
}
.workload-list tr td{
    border-right: 1px dotted #ccc;
    border-left: 1px dotted #ccc;
}
.workload-list tr th{
    border-top: 1px solid #ddd !important;
    border-right: 1px solid #ddd;
}
.no-word-break{
    word-break: keep-all;
}
.red-right-border{
    border-right-style: dotted !important;
    border-right-color: #f00 !important;
}
.workload-list>thead>tr>th{
    background-color: #f2dede;
}
.workload-list.workload-fill-list > tbody > tr:nth-child(odd) > td {
    background-color: rgb(248, 250, 241);
}
.workload-list > tbody > tr.recording-line:nth-child(odd) > td {
    background-color: #efffe9;
}
.workload-list > tbody > tr.verified-line:nth-child(odd) > td {
    background-color: #d2e5ef;
}
.workload-list > tbody > tr.verifying-line:nth-child(odd) > td {
    background-color: #fffff7;
}
.workload-list > tbody > tr.recording-line > td
{
    background-color: #e7ffde;
}
.workload-list > tbody > tr.verified-line > td
{
    background-color: #dbedf7 ;
}
.workload-list > tbody > tr.verifying-line > td
{
    background-color: #fffff4;
}

.workload-list > tbody > tr:hover > td,.workload-list > tbody > tr.verified-line:hover > td {
    cursor:context-menu;
    border-top:1px solid #fff !important;
    border-bottom:1px solid #999 !important;
}
.workload-list > tbody > tr.verifying-line:hover > td {
    background-color: #fafadb;
}
.workload-list > tbody > tr.book-line > td
{
    border-top:1px solid #fff !important;
    border-bottom:1px solid #999 !important;
    background-color: #ececec !important;
}
.workload-list > tbody > #workload-edit-form-container > td
{
    background-color: #fff;
}

.workload-list > tbody > tr > td.sinho-red-background{
    background-color: #f00 !important;
}
.workload-list > tbody > tr > td.sinho-compute-item{
    border: 2px double rgb(9, 255, 0) !important;
}
.workload-list > tbody > tr > td a{
    width:100%;
    display:block;
    min-height:12px;
}
.tooltip{
    min-width:50px;
}
#workload-edit-form .has-error .form-control {
    border-color:#f00;
    -webkit-box-shadow: inset 0 1px 1px rgba(240, 6, 6, 0.075), 0 0 8px rgba(245, 61, 6, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(245, 61, 6, 0.6);
}
#workload-edit-form .row label {
    line-height: 2.5;
}
#workload-edit-form .row input {
    text-indent: 5px;
}
.icb-content-wrap .jsSinhoSetBookDate.icon-date {
    position: relative;
    left:auto;
    top:auto;
}
.icb-content-wrap .mod-head .nav-tabs li.sinho-stat-total-chars{
    border:0;
    padding:0 30px;
}
.icon-indent{
    text-indent: 25px;
}
.line-height-25{
    line-height: 2.5;
}

.icb-content-wrap .icon-delete.icon-date-delete {
    position: absolute;
    top: 5px;
    right: 20px;
    background: none;
    color:#666;
    display:none;
}
.icb-content-wrap .icon-date-container:hover .icon-delete.icon-date-delete {
    display:block;
    cursor:pointer;
}
.icb-content-wrap .icon-date-container input {
    background:#fff;
    cursor:default;
}
.cell-rotate-separator {
    border-bottom: 1px solid #aaa;
    transform: rotate(15deg);
}

.table-striped > tbody > tr > td.bg-warning {
    background-color: #fcf8e3;
}
.table-striped > tbody > tr > td.bg-danger {
    background-color: #f2dede;
}
/* 行政&人事管理 */
.ask-leave-table td{
    height:40px;
    padding:0 !important;
}
.ask-leave-table td:nth-child(n+2):not(.weekend):hover{
    border-color:#999 !important;
    cursor: pointer;
}
.ask-leave-table td .icon{
    width:16px;
    height:16px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 3px;
    margin:1px

}
.ask-leave-form .icon-plus, .ask-leave-form .icon-delete{
    position: absolute;
    height:15px;
    width:15px;
    right:-5px;
    background-color: none;
    line-height: 16px;
    display: none;
}
.ask-leave-form .icon-plus{
    top:-2px;
}
.ask-leave-form .icon-delete{
    bottom:-6px;
}
.ask-leave-single-item{
    padding:0 !important;
    margin:10px 0 !important;
}
.ask-leave-single-item:hover .icon{
    display: block;
}
.ask-leave-single-item:nth-child(1):hover .icon-delete{
    display: none;
}
.ask-leave-single-item .nopadding{
    padding-left: 5px !important;
}
.ask-leave-single-item .nopadding .icon-date{
    left: 10px !important;
}
.icon-sick-leave::before{content: "\e666";}
.icon-annual-leave::before{content: "\e620";}
.icon-wedding-leave::before{content: "\e66b";}
.icon-maternity-leave::before{content: "\e60c";}
.icon-period-leave::before{content: "\e906";}
.icon-funeral-leave::before{content: "\e616";}
.icon-private-leave::before{content: "\e669";}
.icon-leave::before{content: "\e902";}
